.container {
  width: 100%;
  height: 100%;
}

.loaderContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.noResultsContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  color: black;
  width: 100%;
}

.filtrosContainer {
  display: flex;
  flex-direction: column;
  width: calc(20% - 40px);
  padding: 20px;
  gap: 20px;
}

.recommendationsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(80% - 40px);
  justify-content: space-between;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filterContainer span {
  padding-left: 5px;
  font-weight: bold;
  text-align: start;
}

.filtersButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.selectDishesContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: antiquewhite;
}

.submitBtnContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}