.mainContainer{
    display:flex;
    flex-direction:column;
    gap:10px;
    width:calc(100% - 80px);
    background-color:    #f2ea86;
    color: black;

    border-radius: 10px;
    box-shadow: 0 2px 1px rgba(0,0,0,0.09), 
        0 4px 2px rgba(0,0,0,0.09), 
        0 8px 4px rgba(0,0,0,0.09), 
        0 16px 8px rgba(0,0,0,0.09), 
        0 32px 16px rgba(0,0,0,0.09);

    text-align: start;
    padding: 20px 40px;
    
}

.mainContainer p {
    font-weight: 500;
    margin: 0;
    padding: 2px 0;
    text-align: justify;

}

.mainContainer h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.commentsContainer{
    height: 200px;
    overflow-y: auto;
    scrollbar-width: none; /* Para Firefox */
    -ms-overflow-style: none;  /* Para Internet Explorer y Edge */
}

.commentsContainer::-webkit-scrollbar {
    display: none; /* Para Chrome, Safari y Opera */
}

.commentsContainer h3 {
    text-align: justify;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0
}

.commentsContainer p {
    font-size: 1rem;
    margin-top: 2px;
    text-align: center;
}

